.header {
}

.logo {
  line-height: 1.33;
  color: #4d5ae5;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
}

.header-logo {
color: #2e2f42;
}

.header-nav {
}

.header-nav-title {
}

.header-nav-list {
}

.header-nav-link {
  font-weight: 500;
  color: #2e2f42;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.contacts {
}

.contact-title {
}

.contact-list-mail {
}

.contact-link-mail {
  color: #434455;
  font-style: normal;
}

.contact-list-phone {
}

.contact-link-phone {
  color: #434455;
    font-style: normal;

}

.contact-link-mail:hover, .contact-link-phone:hover, .contact-link-mail:focus, .contact-link-phone:focus {
color: #404bbf;
}
