.portfolio-name {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-img {
}

.resume {
}
.resume-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.resume-profession {
  color: #434455;
}
