
                /* ------ SISTEM ----- */
body {
 font-family: "Roboto", sans-serif;
 color: #434455;
 background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol, ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

            /* ----- HEDER ------ */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;

}

.heder-container {
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
    }

.footer-logo .logo-part {
    color:#f4f4fd;
}

.header-logo  {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.nav-link {
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts-list {

}

.kontakts {
    display: flex;
    font-style: normal;
    margin-left: 332px;
    }

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.business {
    background-color:#2e2f42;
}

button {
    cursor: pointer;
}
                                                 /*  оформлення кнопки  */
.business-text {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
background-color: #2e2f42;
}

.button {
 font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5
}
.button:hover,
.button:focus {
   background-color:#404bbf;
}
                                             /*  Перелік списку характеристик для бізнесу  */
.featur {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.advan {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
                                       /*  Секція "Our Team" з фото та і текстом  */

.galeri {
    background-color: #fff;
}


.komand {
    background-color:#f4f4fd;
}

.komand-list {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.name {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.profes {
   font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
                                 /* ==================== секція " Our Portfolio" ====================== */
.portfolio {
    background-color: #fff;
}

.port-list {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.prod-serv {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.prod-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.text-footer {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.pages-footer {
   background-color: #2e2f42;
}
